:root {
  --vp-c-brand-1: #005f9e; /* 浅蓝 */
  --vp-c-brand-2: #0077cc; /* 中蓝 */
  --vp-c-brand-3: #0088ff; /* 深蓝 */
}

.dark {
  --vp-c-brand-1: #3399ff; /* 浅蓝（深色模式） */
  --vp-c-brand-2: #0077cc; /* 中蓝（深色模式） */
  --vp-c-brand-3: #005f9e; /* 深蓝（深色模式） */
}

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #0044cc, #0099ff);

  /* hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg, #0044cc 50%, #0099ff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

html .vp-doc a {
    text-decoration: none !important;
    color: var(--vp-c-brand-2) !important;
}

html .vp-doc a:hover {
    color: var(--vp-c-brand-3) !important;
}

html.dark .vp-doc a {
    color: var(--vp-c-brand-1) !important;
}

html.dark .vp-doc a:hover {
    color: var(--vp-c-brand-2) !important;
}

blockquote {
  border-left: 4px solid #42b983;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: #666;
  font-style: italic;
  background-color: #f8f8f8;
}

blockquote.single-line {
  text-align: center;
  padding: 1rem;
  border-left: none;
  font-size: 1.2em;
  background: transparent;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}